# Final Tutorial
### Niko Zhang and Sophie Tsai

## Introduction
With the use of prompt engineering, I am never going to write a paragraph ever again.
#### ChatGPT prompt:
You are a data scientist working in a team conducting exploratory data analysis on crime in the united states at the state level. Your task is to turn in a tutorial that will walk users through the entire data science pipeline: data curation, parsing, and management. You want to see how household income and climate affect the amount of crime rate. You have taken household income data from the census bureau, taken crime data from UCR, and taken climate data from NOAA. Write an introduction to this project so that it shows the purpose of the project, the relevance/importance of the project with supporting background information, and where the data is obtained. Use third person.

#### ChatGPT output with some editing:
The purpose of this tutorial is to guide readers through the entire data science pipeline, including data curation, parsing, management, and analysis. To provide users with a comprehensive understanding of the data science pipeline, this tutorial conducts exploratory data analysis on crime rates in the United States at the state level. Specifically, it aims to investigate the impact of household income and climate on crime rates.

The relevance and importance of this project lies in its potential to provide insights into the factors that contribute to crime rates and how policymakers can use this information to implement effective crime prevention measures. By identifying the key drivers of crime rates, this project could lead to the development of more targeted and effective strategies for reducing crime in the United States.

The project uses data from three sources: the U.S. Census Bureau for household income data, the FBI Uniform Crime Reporting (UCR) program for crime data, and the National Oceanic and Atmospheric Administration (NOAA) for climate data. Through this project, we hope to demonstrate the power of data-driven insights in understanding complex social phenomena like crime and informing evidence-based policy decisions.

## Imports and configurations

In [1]:
# Imports for reading in data
import pandas as pd
import numpy as np

# Regex and strings
import re
import string

# Set max rows displayed in DataFrame
pd.set_option('display.max_rows', None)
# Set max columns displayed in DataFrame
pd.set_option('display.max_columns', None)

# turn off SettingWithCopyWarning
pd.options.mode.chained_assignment = None

## Read in crime data by state (1979-2020)

In [3]:
# read in the csv file
crime_data = pd.read_csv('State_Crime_Rates.csv')
crime_data.head(5)

NameError: name 'pd' is not defined

In [3]:
# function to clean crime data
def clean_crime_data(df, year, version, state_names):
    
    # version 1 is for datatables in newer format (2005-2019)
    if (version == 1):

        '''The US state column in the Excel file has merged cells. When reading this file as a 
        DataFrame, the corresponding column has NaN values due to the merged cells separating 
        into unmerged cells. The line below fixes the issue by filling in those NaN values
        with the correct US states.'''
        df[df.columns[0]] = df[df.columns[0]].fillna(method='ffill', axis=0)

        # Remove the rows that are not part of the data table
        df = df[df.isin(['State Total', 'Total', 'Rate per 100,000 inhabitants']).any(axis=1)]

        # Remove unnecessary columns
        df = df.iloc[:, :13]

        # combine columns at indices 1 and 2
        df.iloc[:,1:3] = df.iloc[:,1:3].fillna('')
        df.insert(1, 'unit_type', df.iloc[:,2]+df.iloc[:,1])
        df.drop(df.columns[2:4], axis=1, inplace=True)

        # if number of columns is greater than 12, it means there are 2 columns for rape,
        # since the definition of 'rape' was changed at some point in time
        if len(df.columns) > 12:
            # drop the column for the old definiton of 'rape'
            df.drop(df.columns[6], axis=1, inplace=True)

        # set column names
        df.columns = ['state','unit_type','population','violent_crime','murder_and_nonnegligent_manslaughter','rape','robbery','aggravated_assault','property_crime','burglary','larcenytheft','motor_vehicle_theft']

        # add column for year
        df.insert(0, 'year', year)

        # remove all non-characters from state names
        df['state'] = df['state'].str.replace(r'\d|,', '', regex=True).str.title()

        # Reset the indices
        df.reset_index(drop=True, inplace=True) 
    
    # version 2 is for datatables in older format (1999-2004)
    elif (version == 2):
        
        # Remove unnecessary columns
        if (year < 2003):
            df.replace(0, np.nan, inplace=True) # replace all zeros with NaN
            df=df.dropna(axis=1,how='all') # drop columns with all NaN values
            df.drop(df.columns[2:4], axis=1, inplace=True)
            # move total property crime column to correct position
            col = df[df.columns[3]]
            df.drop(df.columns[3], axis=1, inplace=True)
            df.insert(7, 'property_crime', col)
        df = df.iloc[:, :11]
        
        # set column names
        df.columns = ['unit_type','population','violent_crime','murder_and_nonnegligent_manslaughter','rape','robbery','aggravated_assault','property_crime','burglary','larcenytheft','motor_vehicle_theft']
        
        # remove all unnecessary rows
        df = df[df.isin(['State Total', 'Total', '   Rate per 100,000 inhabitants']).any(axis=1)]
        
        # Reset the indices
        df.reset_index(drop=True, inplace=True)
        
        # strip spaces from unit_type column from both ends
        df['unit_type'] = df['unit_type'].str.strip()
        
        # add column for states
        df.insert(0, 'state', state_names)
        
        # add column for year
        df.insert(0, 'year', year)
    return df

## Read in and clean crime data by state (1999-2019)

In [4]:
'''for each crime datatable from 2005-2019, read in the excel file, clean it, and append it to
   the DataFrame'''
df_list = []
for i in range(2005,2020):
    df = pd.read_excel('data/crimes_by_state/'+str(i)+'/'+str(i)+'offenses_by_state.xls')
    df = clean_crime_data(df, i, 1, None)
    df_list.append(df)
state_names = df_list[0]['state'].head(104)
for i in range(1999,2005):
    df = pd.read_excel('data/crimes_by_state/'+str(i)+'/'+str(i)+'offenses_by_state.xls')
    df = clean_crime_data(df, i, 2, state_names)
    df_list.append(df)    

crime_data = pd.concat(df_list)
crime_data = crime_data.sort_values(['year', 'state'])
# Reset the indices
crime_data.reset_index(drop=True, inplace=True)

# convert quantitative data columns to numeric type
crime_data.loc[:, 'population':] = crime_data.loc[:, 'population':].apply(pd.to_numeric, errors='coerce')

# display the first 5 rows of DataFrame
crime_data.head(5)

/tmp/ipykernel_80/2795509131.py:20: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  crime_data.loc[:, 'population':] = crime_data.loc[:, 'population':].apply(pd.to_numeric, errors='coerce')

,year,state,unit_type,population,violent_crime,murder_and_nonnegligent_manslaughter,rape,robbery,aggravated_assault,property_crime,burglary,larcenytheft,motor_vehicle_theft
0,1999,Alabama,State Total,4370000.0,21421.0,345.0,1513.0,5297.0,14266.0,171398.0,38648.0,119616.0,13134.0
1,1999,Alabama,"Rate per 100,000 inhabitants",NaN,490.2,7.9,34.6,121.2,326.5,3922.2,884.4,2737.2,300.5
2,1999,Alaska,State Total,619000.0,3909.0,53.0,517.0,566.0,2773.0,23099.0,3787.0,16654.0,2658.0
3,1999,Alaska,"Rate per 100,000 inhabitants",NaN,631.5,8.6,83.5,91.4,448.0,3731.7,611.8,2690.5,429.4
4,1999,Arizona,State Total,4778000.0,26334.0,384.0,1383.0,7288.0,17279.0,255401.0,49423.0,167731.0,38247.0

## Read in and clean household income data (1999-2019 with 2021 dollars)

In [5]:
# read the excel file for household income data with the first column as the index column
# with the correct headers
household_income_data = pd.read_excel('data/household_income_by_state.xlsx', header=[62,63], index_col=0)

# remove the columns for standard error
household_income_data.drop(labels='Standard error', axis=1, level=1, inplace=True)

# remove the name for the index column
household_income_data.index.name = None
household_income_data.columns.names = (None,None)

# melt the data so that no column names are values
household_income_data = household_income_data.reset_index().melt(id_vars='index')

# rename the columns
household_income_data.rename(columns={'index': 'state','variable_0': 'year',
                   'variable_1': 'measurement_type', 'value': 'median_household_income'}, inplace=True)

# format the year column
household_income_data['year'] = household_income_data['year'].astype(str).str.extract(r'(\d{4})')

# sort rows by state and year
household_income_data = household_income_data.sort_values(by=['state', 'year'])

# remove all rows with 'United States' in state column
household_income_data = household_income_data[~household_income_data['state'].isin(['United States'])]
household_income_data.reset_index(drop=True, inplace=True)

# drop measurement_type column from DataFrame
household_income_data.drop(labels='measurement_type', axis=1, inplace=True)

# swap year and state columns
columns_titles = ['year','state','median_household_income']
household_income_data=household_income_data.reindex(columns=columns_titles)

# convert year column to numeric type
household_income_data['year'] = pd.to_numeric(household_income_data['year'])

# only keep rows where year is between 1999 and 2019
household_income_data = household_income_data[household_income_data['year'] >= 1999]
household_income_data = household_income_data[household_income_data['year'] <= 2019]

# display first 5 rows of DataFrame
household_income_data.head(5)

    year    state  median_household_income
15  1999  Alabama                    59134
16  2000  Alabama                    55888
17  2001  Alabama                    53936
18  2002  Alabama                    56789
19  2003  Alabama                    55014

## Merging tables from crime, median household income, and climate data

In [7]:
datatable = pd.merge(crime_data, household_income_data, on=['year', 'state'], how='inner')

# display first 5 rows of resulting DataFrame
datatable.head(5)

,year,state,unit_type,population,violent_crime,murder_and_nonnegligent_manslaughter,rape,robbery,aggravated_assault,property_crime,burglary,larcenytheft,motor_vehicle_theft,median_household_income
0,1999,Alabama,State Total,4370000.0,21421.0,345.0,1513.0,5297.0,14266.0,171398.0,38648.0,119616.0,13134.0,59134
1,1999,Alabama,"Rate per 100,000 inhabitants",NaN,490.2,7.9,34.6,121.2,326.5,3922.2,884.4,2737.2,300.5,59134
2,1999,Alaska,State Total,619000.0,3909.0,53.0,517.0,566.0,2773.0,23099.0,3787.0,16654.0,2658.0,83839
3,1999,Alaska,"Rate per 100,000 inhabitants",NaN,631.5,8.6,83.5,91.4,448.0,3731.7,611.8,2690.5,429.4,83839
4,1999,Arizona,State Total,4778000.0,26334.0,384.0,1383.0,7288.0,17279.0,255401.0,49423.0,167731.0,38247.0,60348

# Exploratory Data Analysis

## Read in and Clean Climate Data

In [ ]:
column_names=['code','jan', 'feb', 'mar', 'apr', 'may', 'jun', 'jul', 'aug', 'sep', 'oct', 'nov', 'dec']

In [18]:
# Read all climate data and set missing values to NaN
avg_tmp_data = pd.read_csv('data/climate_data/tmpcst.csv', names=column_names, converters={'code': str}, na_values=['-99.9'])
max_tmp_data = pd.read_csv('data/climate_data/tmaxst.csv', names=column_names, converters={'code': str}, na_values=['-99.9'])
min_tmp_data = pd.read_csv('data/climate_data/tminst.csv', names=column_names, converters={'code': str}, na_values=['-99.9'])
pcp_data = pd.read_csv('data/climate_data/pcpnst.csv', names=column_names, converters={'code': str}, na_values=['-9.99'])
pdsi_data = pd.read_csv('data/climate_data/pdsist.csv', names=column_names, converters={'code': str}, na_values=['-99.99'])

In [24]:
# Function to split `code` column into state_code and year sub elements
def split_code(df):
    df["state_code"] = df["code"].str[:3]
    df["year"] = df["code"].str[6:]

In [25]:
df_names = [avg_tmp_data, max_tmp_data, min_tmp_data, pcp_data, pdsi_data]

# Split code column for each climate dataframe
for i in range(len(df_names)):
    split_code(df_names[i])

In [26]:
# Calculate and add column for average annual temperature
avg_tmp_data["avg_ann_tmp"] = avg_tmp_data.iloc[:, 1:13].mean(axis=1)

# Find and add column for max and min annual temperature
max_tmp_data["max_ann_tmp"] = max_tmp_data.iloc[:, 1:13].max(axis=1)
min_tmp_data["min_ann_tmp"] = min_tmp_data.iloc[:, 1:13].min(axis=1)

# Calculate and add column for annual total precipitation
pcp_data["total_ann_pcp"] = pcp_data.iloc[:, 1:13].sum(axis=1)

# Calculate and add column for average annual PDSI
pdsi_data["avg_ann_pdsi"] = pdsi_data.iloc[:, 1:13].mean(axis=1)

In [27]:
# Drop first 13 columns for each climate dataframe
for i in range(len(df_names)):
    df_names[i].drop(df_names[i].iloc[:, 0:13], axis=1, inplace=True)

In [28]:
# Join all climate data together by state code and year
climate_df = pd.merge(avg_tmp_data, max_tmp_data, on=['state_code', 'year'], how='inner')
climate_df = pd.merge(climate_df, min_tmp_data, on=['state_code', 'year'], how='inner')
climate_df = pd.merge(climate_df, pcp_data, on=['state_code', 'year'], how='inner')
climate_df = pd.merge(climate_df, pdsi_data, on=['state_code', 'year'], how='inner')

In [29]:
# Read NOAA code table
noaa_codes = pd.read_csv('data/climate_data/NOAA_codes.csv', names=["state_code","state"], converters={'state_code': str})

# Join climate data with state
climate_df = pd.merge(climate_df, noaa_codes, on=['state_code'], how='inner')

# Drop state code column
climate_df.drop('state_code', axis=1, inplace=True)

In [30]:
climate_df.head()

,year,avg_ann_tmp,max_ann_tmp,min_ann_tmp,total_ann_pcp,avg_ann_pdsi,state
0,1895,61.641667,89.7,26.8,50.40,-0.325833,Alabama
1,1896,64.266667,94.0,34.0,46.16,-2.108333,Alabama
2,1897,64.191667,94.0,31.4,48.36,-3.115000,Alabama
3,1898,62.983333,92.7,32.5,48.84,-2.420000,Alabama
4,1899,63.100000,92.3,28.6,48.39,-1.482500,Alabama